.full-width {
  width: 96%;
  padding-left: 10px;
  padding-right: 20px;
  margin-left: 0px;
}

.input-align{
  display: flex;
  flex-direction: row;
}

.input-align-full{
  display: flex;
}

mat-form-field {
  padding-left: 20px;
  width: 100%;
}

h2 {
  margin-left: 24px;
}
