.dialog-content {
  display: flex;
  flex-direction: row;
}

.form-field-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

mat-form-field {
  width: 90%;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.full-width {
  width: 100%;
}

form {
  display: flex;
}

h2 {
  margin-left: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
}
